[Unit]
Description="Updates a Cloudflare record (ideal for dynamic DNS)"
Documentation="https://www.github.com/cadnza/cloudflareDNSupdater.git"
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/etc/systemd/system/cloudflareDNSupdater/main.sh
Restart=always
RestartSec=60
WorkingDirectory=/etc/systemd/system/cloudflareDNSupdater

[Install]
WantedBy=multi-user.target
